<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <!--[if lt IE 9]>
    <script src="/js/html5.js" type="text/javascript"></script>
    <![endif]-->

    <link rel='stylesheet' id='indiepub-sharing-buttons-css-css'  href='/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='jetpack-widgets-css'  href='/css/widgets.css' type='text/css' media='all' />
    <link rel='stylesheet' id='publish-style-css'  href='/css/style2.css' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css'  href='/css/font-awesome.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='/js/jquery.js'></script>
    <script type='text/javascript' src='/js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='/js/enhanced-comment-form.js'></script>
    <script type='text/javascript' src='/js/site-logo-icon.js'></script>
    <script src="/js/hide-address-bar.js" type="text/javascript"></script>

</head>

<body class="single single-post postid-165 single-format-standard">
<div id="page" class="hfeed site">
    <header id="masthead" class="site-header" role="banner">


    </header>

    <div id="main" class="site-main">
        <div id="primary" class="content-area">
            <div id="content" class="site-content" role="main">


                <header id="masthead" class="site-header" role="banner">
                    <a class="site-logo" href="/">
                        <img alt='Abhay Vardhan' src='/assets/abhay.png' class='avatar avatar-100 photo' height='100' width='100' />		</a>
                    <hgroup>
                        <h1 class="site-title">
                            <span class="byline"><span class="author vcard"><a class="url fn n" href="/" title="View all posts" rel="author">Abhay Vardhan</a></span></span>			</h1>

                        <h2 class="site-description">Entreprenuer. Thinker<br/>Husband. Father<br/>
                            <a href="http://twitter.com/abhayvardhan">@abhayvardhan</a></h2>
                    </hgroup>

                    <div class="site-published-separator"></div>
                    <hgroup>
                        <h2 class="site-published">Published</h2>

                        <h2 class="site-published-date"><a href="{{ page.url }}" rel="bookmark"><time class="entry-date" datetime="{{ page.date }}" pubdate>{{ page.date | date: "%-d %B, %Y" }}</time></a></h2>

                        <h2 class="site-published-location"></h2>

                    </hgroup>
                </header>


                <article class="post type-post status-publish format-standard hentry category-news">
                    {{ content }}
                    <div class="post-author-bottom">
                        <div class="post-author-card">
                            <a class="site-logo" href="/">
                                <img alt='Abhay Vardhan' src='/assets/abhay.png' class='avatar avatar-100 photo' height='100' width='100' />		</a>

                            <div class="post-author-info">
                                <h1 class="site-title">
                                    <span class="byline"><span class="author vcard"><a class="url fn n" href="/" title="View all posts" rel="author">Abhay Vardhan</a></span></span>				</h1>

                                <h2 class="site-description">Entreprenuer. Thinker<br/>
                                    Husband. Father<br/>
                                    <a href="http://twitter.com/abhayvardhan">@abhayvardhan</a></h2>
                            </div>
                            <div class="post-published-date">
                                <h2 class="site-published">Published</h2>

                                <h2 class="site-published-date"><a href="{{ page.url }}" rel="bookmark"><time class="entry-date" datetime="{{ page.date }}" pubdate>{{ page.date | date: "%-d %B, %Y" }}</time></a></h2>

                                <h2 class="site-published-location">
                                </h2>
                            </div>
                        </div>
                    </div>

                    <footer class="entry-meta">
                        <div class="social-buttons">
                            <a target="_new" href="https://twitter.com/share?text=Welcome!&url=http://independentpublisher.me/2013/welcome/" title="Share 'Welcome!' on Twitter" onclick="share_button_popup(this.href); return false;"><i class="icon-twitter"></i></a>
                            <a target="_new" href="https://www.facebook.com/sharer/sharer.php?u=http://independentpublisher.me/2013/welcome/" title="Share 'Welcome!' on Facebook" onclick="share_button_popup(this.href); return false;"><i class="icon-facebook-sign"></i></a>
                            <a target="_new" href="https://plusone.google.com/_/+1/confirm?hl=en&url=http://independentpublisher.me/2013/welcome/" title="Share 'Welcome!' on Google+" onclick="share_button_popup(this.href); return false;"><i class="icon-google-plus-sign"></i></a>
                        </div>
                    </footer>

                </article>
            </div>
        </div>

        <div id="secondary" class="widget-area" role="complementary">
        </div>

    </div>

    <footer id="colophon" class="site-footer" role="contentinfo">
    </footer>
</div>


<script type='text/javascript' src='/js/sharing-buttons.js'></script>
<script type='text/javascript' src='/js/devicepx-jetpack.js'></script>
</body>
</html>

